@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
}

.login-header p {
    font-size: 20px;
    font-weight: 400;
    color: #777;
}

/* 폼 그룹 */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007BFF;
}

/* 버튼 */
.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}

.cancel-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.cancel-link a {
    color: #777;
    font-size: 16px;
    text-decoration: none;
}

.cancel-link a:hover {
    color: red;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #007BFF;
    font-size: 16px;
    text-decoration: none;
}

.signup-link a:hover {
    color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer .info-text {
    font-size: 14px;
    color: #777;
}

.footer .login-text {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
